<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vitalSign(); as vitalSignRef) {
      <div>
        <h2 data-cy="vitalSignDetailsHeading"><span jhiTranslate="hospitalApp.vitalSign.detail.title">Vital Sign</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ vitalSignRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.measurementDate">Measurement Date</span></dt>
          <dd>
            <span>{{ vitalSignRef.measurementDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.bloodPressure">Blood Pressure</span></dt>
          <dd>
            <span>{{ vitalSignRef.bloodPressure }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.heartRate">Heart Rate</span></dt>
          <dd>
            <span>{{ vitalSignRef.heartRate }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.respiratoryRate">Respiratory Rate</span></dt>
          <dd>
            <span>{{ vitalSignRef.respiratoryRate }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.temperature">Temperature</span></dt>
          <dd>
            <span>{{ vitalSignRef.temperature }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.oxygenSaturation">Oxygen Saturation</span></dt>
          <dd>
            <span>{{ vitalSignRef.oxygenSaturation }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.bloodSugar">Blood Sugar</span></dt>
          <dd>
            <span>{{ vitalSignRef.bloodSugar }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.vitalSign.patient">Patient</span></dt>
          <dd>
            @if (vitalSign()!.patient) {
              <div>
                <a [routerLink]="['/patient', vitalSign()!.patient?.id, 'view']">{{ vitalSignRef.patient?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/vital-sign', vitalSignRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
