<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-appointment-heading"
        data-cy="AppointmentCreateUpdateHeading"
        jhiTranslate="hospitalApp.appointment.home.createOrEditLabel"
      >
        Create or edit a Appointment
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="hospitalApp.appointment.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_appointmentDate" jhiTranslate="hospitalApp.appointment.appointmentDate"
            >Appointment Date</label
          >
          <div class="d-flex">
            <input
              id="field_appointmentDate"
              data-cy="appointmentDate"
              type="datetime-local"
              class="form-control"
              name="appointmentDate"
              formControlName="appointmentDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_startTime" jhiTranslate="hospitalApp.appointment.startTime">Start Time</label>
          <div class="d-flex">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"
              formControlName="startTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_endTime" jhiTranslate="hospitalApp.appointment.endTime">End Time</label>
          <div class="d-flex">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="datetime-local"
              class="form-control"
              name="endTime"
              formControlName="endTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_reason" jhiTranslate="hospitalApp.appointment.reason">Reason</label>
          <input type="text" class="form-control" name="reason" id="field_reason" data-cy="reason" formControlName="reason" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="hospitalApp.appointment.status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_phone" jhiTranslate="hospitalApp.appointment.phone">Phone</label>
          <input type="text" class="form-control" name="phone" id="field_phone" data-cy="phone" formControlName="phone" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_location" jhiTranslate="hospitalApp.appointment.location">Location</label>
          <input type="text" class="form-control" name="location" id="field_location" data-cy="location" formControlName="location" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_appointmentType" jhiTranslate="hospitalApp.appointment.appointmentType"
            >Appointment Type</label
          >
          <input
            type="text"
            class="form-control"
            name="appointmentType"
            id="field_appointmentType"
            data-cy="appointmentType"
            formControlName="appointmentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_patient" jhiTranslate="hospitalApp.appointment.patient">Patient</label>
          <select
            class="form-control"
            id="field_patient"
            data-cy="patient"
            name="patient"
            formControlName="patient"
            [compareWith]="comparePatient"
          >
            <option [ngValue]="null"></option>
            @for (patientOption of patientsSharedCollection; track $index) {
              <option [ngValue]="patientOption">{{ patientOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_doctor" jhiTranslate="hospitalApp.appointment.doctor">Doctor</label>
          <select
            class="form-control"
            id="field_doctor"
            data-cy="doctor"
            name="doctor"
            formControlName="doctor"
            [compareWith]="compareDoctor"
          >
            <option [ngValue]="null"></option>
            @for (doctorOption of doctorsSharedCollection; track $index) {
              <option [ngValue]="doctorOption">{{ doctorOption.name }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
