<div>
  <h2 id="page-heading" data-cy="HospitalFeeHeading">
    <span jhiTranslate="hospitalApp.hospitalFee.home.title">Hospital Fees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="hospitalApp.hospitalFee.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hospital-fee"
        [routerLink]="['/hospital-fee/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="hospitalApp.hospitalFee.home.createLabel">Create a new Hospital Fee</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (hospitalFees().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="hospitalApp.hospitalFee.home.notFound">No Hospital Fees found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceType">
              <div class="d-flex">
                <span jhiTranslate="hospitalApp.hospitalFee.serviceType">Service Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="hospitalApp.hospitalFee.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span jhiTranslate="hospitalApp.hospitalFee.amount">Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="feeDate">
              <div class="d-flex">
                <span jhiTranslate="hospitalApp.hospitalFee.feeDate">Fee Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span jhiTranslate="hospitalApp.hospitalFee.phone">Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="appointment.id">
              <div class="d-flex">
                <span jhiTranslate="hospitalApp.hospitalFee.appointment">Appointment</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="patient.name">
              <div class="d-flex">
                <span jhiTranslate="hospitalApp.hospitalFee.patient">Patient</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (hospitalFee of hospitalFees(); track trackId(hospitalFee)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hospital-fee', hospitalFee.id, 'view']">{{ hospitalFee.id }}</a>
              </td>
              <td>{{ hospitalFee.serviceType }}</td>
              <td>{{ hospitalFee.description }}</td>
              <td>{{ hospitalFee.amount }}</td>
              <td>{{ hospitalFee.feeDate | formatMediumDate }}</td>
              <td>{{ hospitalFee.phone }}</td>
              <td>
                @if (hospitalFee.appointment) {
                  <div>
                    <a [routerLink]="['/appointment', hospitalFee.appointment.id, 'view']">{{ hospitalFee.appointment.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (hospitalFee.patient) {
                  <div>
                    <a [routerLink]="['/patient', hospitalFee.patient.id, 'view']">{{ hospitalFee.patient.name }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/hospital-fee', hospitalFee.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/hospital-fee', hospitalFee.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(hospitalFee)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (hospitalFees().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
