<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (appointment(); as appointmentRef) {
      <div>
        <h2 data-cy="appointmentDetailsHeading"><span jhiTranslate="hospitalApp.appointment.detail.title">Appointment</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ appointmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.appointmentDate">Appointment Date</span></dt>
          <dd>
            <span>{{ appointmentRef.appointmentDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.startTime">Start Time</span></dt>
          <dd>
            <span>{{ appointmentRef.startTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.endTime">End Time</span></dt>
          <dd>
            <span>{{ appointmentRef.endTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.reason">Reason</span></dt>
          <dd>
            <span>{{ appointmentRef.reason }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.status">Status</span></dt>
          <dd>
            <span>{{ appointmentRef.status }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.phone">Phone</span></dt>
          <dd>
            <span>{{ appointmentRef.phone }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.location">Location</span></dt>
          <dd>
            <span>{{ appointmentRef.location }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.appointmentType">Appointment Type</span></dt>
          <dd>
            <span>{{ appointmentRef.appointmentType }}</span>
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.patient">Patient</span></dt>
          <dd>
            @if (appointment()!.patient) {
              <div>
                <a [routerLink]="['/patient', appointment()!.patient?.id, 'view']">{{ appointmentRef.patient?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="hospitalApp.appointment.doctor">Doctor</span></dt>
          <dd>
            @if (appointment()!.doctor) {
              <div>
                <a [routerLink]="['/doctor', appointment()!.doctor?.id, 'view']">{{ appointmentRef.doctor?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/appointment', appointmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
